$fontUrbanist: "Urbanist", sans-serif;
$fontPoppins: "Poppins", sans-serif;

$fontLight: 300;
$fontRegular: 400;
$fontMid: 500;
$fontSemi: 600;
$fontBold: 700;
$transition: 0.3s linear;

// colors

$clrDefault: #1e1e1e;
$clrWhite: #fff;
$clrPrimary: #ffa409;
$clrSecondary: #ffe1e1;
$clrHeading: #000000;
$clrHeading2: #18191f;
$clrContent: #6b6b6b;
$body-color: #fdf9f0;
